*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;

}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.bg-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.25), #9ACACD), url(p1_images/paper_texture.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

#banner{
background-size: cover;
background-position: center;
width: 100%;
height: 100%;
}

#background{
  background: linear-gradient(rgba(0, 0, 0, 0.25), #9ACACD), url(p1_images/paper_texture.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  
   }

.logo{
  width: 25px;
  position: absolute;
  top: 4%;
  left: 100px;
}

.banner-text{
  text-align: left;
  color: #2D2D2D;
  padding-top: 225px;
padding-left: 100px;

}

.banner-text h1{
    font-family: rubik mono one, sans-serif;
    font-size: 62px;
    letter-spacing: .125em;
}

.banner-text p{
  font-family: rubik, sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}

.banner-btn{
  margin: 70px auto 0;

}

.banner-btn a{
  width: fit-content;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
color: #2D2D2D;
border: none;
border-radius: 10px;
background-color: #9ACACD;  
text-align: center;
vertical-align: center;
font-family: rubik, sans-serif;
font-weight: regular;
font-size: 1.125rem;
cursor: pointer;
position: relative;

}


.banner-btn a:hover{
  background-color: #CCE4E6;
  color: #2D2D2D;
  font-weight: 600;
  letter-spacing: .125em;
}





h2 {
    /* article date */
    font-family: rubik mono one, sans-serif;
    font-size: 1em;
    
}

p {
    font-family: rubik, sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: 600px;
}




.nav_tabs button {
    background-color: #CCE4E6; /* LT teal background */
    border: none; 
    border-radius: 10px;
    color: #2D2D2D; /*text color*/
    padding: 10px 25px; /* Some padding */
    margin-right: 35px; 
    cursor: pointer; /* Pointer/hand icon */
    float: right;  /* Float the buttons side by side */
    text-align: center;
    vertical-align: center;
    font-family: rubik, sans-serif;
    font-weight: regular;
    font-size: 1.125rem;
    
  }
  
  /* Clear floats (clearfix hack) */
  .nav_tabs:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .nav_tabs:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .nav_tabs button:hover {
    background-color: #9ACACD;


  }



.paper {
    background-color: #fff;
    width: 60%;
    border: none;

    padding-left:  75px;
    padding-top: 75px;
    padding-bottom: 175px;
    padding-right: 100px;
    margin:auto;
    box-shadow: 10px 10px 54px -17px rgba(0,0,0,0.75);

}



.pages {
    background:#fff;
    width:90vh;
    height:80vw;
    margin:auto;
    margin-left:150px;
    box-shadow: 10px 10px 54px -17px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 54px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 54px -17px rgba(0,0,0,0.75);
}
.page-bottom {
    margin-top:75px;
    transform:rotate(2deg);
    margin-left:150px;
}
.page-middle {
    transform:rotate(-2deg);
    margin-left:150px;
}
.page-top {
    transform:none;
    padding:90px;
    margin-left:150px;
}

.topnav {
  overflow: hidden;
  
}

.topnav a {
  float: left;
 }

.topnav-right a{
  background-color: #CCE4E6; /* LT teal background */
  border: none; 
  border-radius: 10px;
  color: #2D2D2D; /*text color*/
  padding: 10px 25px; /* Some padding */
  margin-right: 35px; 
  cursor: pointer; /* Pointer/hand icon */
  float: right;  /* Float the buttons side by side */
  text-align: center;
  vertical-align: center;
  font-family: rubik, sans-serif;
  font-weight: regular;
  font-size: 1.125rem;
  text-decoration: none;
  margin-top:2%;
  width: fit-content;

} 
.topnav-right a:hover {
  background-color: #CCE4E6;
  font-weight: 600;
  letter-spacing: .125em;

}

.title {
  /* article title */
  font-family: rubik, sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding-top: 25px;


}

.title h3{
  background-color: #fff; 
  color: #2D2D2D;
  border-style: solid;
  border-width: 6px;
  border-radius: 10px;
  border-color: #9ACACD;
  padding: 25px 25px;
  margin: auto;
  display:inline;
}

.body-copy {
  padding-left: 3.5%;
  
}

.body-copy p{
  font-family: rubik, sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.body-copy img{
object-fit: contain;

}

ul.credits{
list-style-type: none;
line-height: 1.5em;
}
ul.credits a{
text-decoration: none;
color: #2b6569;
font-size: 1.125rem;
}

ul.credits a:hover {
  color: #EAAE6A;
  font-weight: 500;
  letter-spacing: .125em;

}

#credits-head{
  font-family: rubik, sans-serif;
  font-size: 1.25em;
  font-weight: 500;
    color: #2D2D2D;
}


#subhead {
  font-family: rubik, sans-serif;
  font-weight: 600;
  font-size: 1.125em;
  line-height: 1.5em;
}
#thank-you {
  font-family: rubik, sans-serif;
  font-weight: 600;
  font-size: 2em;
  line-height: 2.5em;
}

#date{
  font-family: rubik mono one, sans-serif;
  font-size: 13px;
  line-height: 1.25rem;
  color: #2D2D2D;
  padding-bottom: 15px;
  text-align: left;

}

.links{
display: flex;
align-items: flex-end;
justify-content: flex-end;
}

.links-both{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  }


.centered {
  text-align: center;
}  

.pagination {
display: inline-block;

}
  .pagination a {

    color: black;
    float: left;
    padding: 8px 14px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
    font-family: rubik, sans-serif;
    margin-right: 5px;
  }
  
  .pagination a.active {
    background-color: #9ACACD;
  font-weight: 600;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #CCE4E6; color: #fff;
  }
  
  .pagination a.arrow:hover {background-color: #EAAE6A; color: #FFF; font-weight: 800;
  }
  
  .pagination a.arrow {
  color: #EAAE6A;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
  
  }