.navbar {
float: left;
text-align: center;
padding: 50px 10px;
text-decoration: none;
font-family: 'Courier New', Courier, monospace;
font-size: medium;
}

.header { 
    margin-top: 10px;
    text-align: left;

}

p {
    text-align: left;
    margin-top: 100px;
    margin-left: 50px;
}