
  header {
    text-align: center;
    padding: 32px;
  }

  body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
  }
  



 
  h1 {
    font-family: Rubik, sans-serif;
    font-size: x-large;
    font-weight: 500;
  }
.intro-text {
  font-family: Rubik, sans-serif;
  font-size: medium;
  font-weight: 100;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row {
  display: flex;
}
  

.column {
  width: 50%;
  padding: 0 10px;
}

.cards {
padding: 10px;
text-align: center;
  }
  
  img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
   .caption {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    padding-bottom: 35px;
  }
  