
  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  
  .column {
    flex: 50%

  }

  header {
    text-align: center;
    padding: 32px;
  }

  body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
  }
  
 


  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 10px;
  }
  .intro {
    display: flex;
    justify-content: center;
    text-align: left;

  }
  
  .caption {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    padding-top: 10px;
    padding-bottom: 75px;
  }
  
  h1 {
    font-family: Rubik, sans-serif;
    font-size: large;
    font-weight: 500;
  }



  