
.green-div { background: #245B0A;
    background: linear-gradient(to right, #245B0A 0%, #52D017 50%, #2B6D0C 100%);
    width: 1000px;
    padding: 25px;
    
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    }
body {margin: 100px;}