*{
  margin: 0;
  padding: 0;
  font-variant-ligatures: none;
  box-sizing: border-box;
  }





/* don't mess with anything below this note */

  #intro-page{
    background-image: url(images/bkgd-950px.svg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
background-size: 70%;
  }

  #enter-container {
    display: none;
    color: #ffffff;
    width: 30%;
    padding: 3% 5%;
    text-align: center;
    text-decoration: none;
    background-color: rgba(82, 97, 72, .75);
    border-radius: 0px;
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
      }
  
  .enter-con-link {
    font-size: 1.75rem;
    font-family: eb garamond, serif;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    color: #FFF;
  }

/* don't mess with anything above this note */




  /* background for home back here -- body id */
  #main-background{
    background-color: rgba(82, 97, 72, .35);
    background-image:url(images/herb-pattern_wht-opac50.png);
    background-repeat: repeat;
    color:rgb(40, 40, 40);
    font-family: 'EB Garamond', serif; 
  }
  
    /* background for Specific Page, change image url and body id */
  #page-background{
    background-color: #3e4d34;
    background-image:url();
    background-repeat: repeat;
    color:rgb(40, 40, 40);
    font-family: 'EB Garamond', serif; 
  }

/* page header for - home page v  */
.page-header {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3vh;
margin-left: auto;
}

.page-header h1{
font-family: broadsheet, serif;
font-weight: 400;
font-size: 5.4em;
letter-spacing: .25rem;
text-transform: uppercase;
text-align: center;
}

.page-header h2{
  text-align: center;
  letter-spacing: .25rem;
  font-family: 'EB Garamond', serif;
  font-size: 1.85rem;
  font-weight: 600;
  font-style: italic;
  color: #3e4d34;
  
}


/* img class for header banner title situation at the top of the page */
.header-logo{
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  min-width: 40%;
  height: auto;
  padding: 30px;
}


body {
	font-family: 'EB Garamond', serif;
	line-height: 1.2;
letter-spacing: .035rem;
	margin: 0;
	min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
 	color: #34495e;
	text-decoration: none;
}



.header1 {

}

.main-nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-bottom: 15px;
	border: none;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.nav-link {
  padding: 20px 20px;
  flex: 25%;
}

.main-nav a {
	text-transform: uppercase;
	text-align: center;
  color: #3e4d34;
  font-weight: 400;
	font-size: 1.5em;
  line-height: 1.3;
}

.main-nav a:hover {
	color: #885135;
  font-weight: 600;
}

.nav-link a.active-page {
color: #000;
font-weight: 700;
text-decoration: underline solid #526148 25%;
}


/* main box where all da content lives - home page v  */

.box2{
  display: block;
  margin: 4vh auto;
  border-color: rgb(82, 97, 72);
border-style: solid;
  border-width: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 60vw;
  height: 65vh;
  padding: 50px 100px;
  line-height: 1.4em;
  overflow-y: scroll;
}

.box2 h1{
  line-height: 1.15em;
  font-family: EB Garamond, serif;
  font-weight: 600;
  font-size: 2.15em;
  color: #743D21;
}

.box2 p{
font-family: roboto, sans-serif ;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.45em;
  color: #000;
margin-right: 25%;
font-kerning: normal;

}

.box2 ul{
  font-family: roboto, sans-serif ;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.55em;
    color: #000;
  margin-right: 25%;
  list-style-type: disc;
  list-style-position: inside;
  }

  .box2 img{
  max-width: 100%;
  height: auto;
  }


/* main box where all da content lives - rest of site */

.box3{
  display: block;
  margin: 2vh auto;
  border-color: rgb(82, 97, 72);
border-style: solid;
  border-width: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 60vw;
  height: 70vh;
  padding: 50px 100px;
  line-height: 1.4em;
  overflow-y: scroll;
}

.box3 h1{
  line-height: 1.15em;
  font-family: EB Garamond, serif;
  font-weight: 600;
  font-size: 2.5em;
  color: #743D21;
}

.box3 p{
font-family: roboto, sans-serif ;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.45em;
  color: #000;
margin-right: 25%;
font-kerning: normal;
}

.box3 ul{
  font-family: roboto, sans-serif ;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.55em;
    color: #000;
  margin-right: 25%;
  list-style-type: disc;
  list-style-position: inside;
  }

  .box3 img{
  max-width: 100%;
  height: auto;
  }

/* page header alt for - rest of site */
  .page-header3 {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vh;
  margin-left: auto;
  }
  
  .page-header3 h1{
  font-family: broadsheet, serif;
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: .25rem;
  text-transform: uppercase;
  text-align: center;
  }
  
  .page-header h2{
    text-align: center;
    letter-spacing: .25rem;
    font-family: 'EB Garamond', serif;
    font-size: 1.85rem;
    font-weight: 600;
    font-style: italic;
    color: #3e4d34;
    
  
  }


/* Start of Contact form stuffffff */

input[type=text], select, textarea {
  width: 100%;
  font-family: Roboto, sans-serif;
    font-size: 1em;
  padding: 15px;
  border: 1px solid #526148;
  border-radius: 4px;
  box-sizing: border-box;
letter-spacing: .035rem;
margin-top: 10px;
  margin-bottom: 16px;
   resize: vertical;
}

input[type=submit] {
  background-color: #3E4D34;
  color: white;
  font-weight: 600;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  padding: 12px 20px;
  border: none;
    border-radius: 4px;
      	text-transform: uppercase;
letter-spacing: .075rem;

  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #885135;
  letter-spacing: .125em;
  	text-transform: uppercase;
}

.container {
  border-radius: 5px;
  background-color: rgba(203,205,181,0.55);
  padding: 20px;
}

/* end of contact form stuff */



#community-orgs {
  list-style-type: none;
}

#community-orgs a{
  font-weight: 500;
  color: #3d3d3d;
  line-height: 2em;
  }

  
#community-orgs a:hover{
  color: #C68B22;
  text-decoration: underline;

}

.socials {
  padding-right: 1em;
  padding-left: 1em;
  height: 3.5em;
}
.socials:hover {
  transform: scaleX(-1);
}

/* img slideshow on home page starts here */

.mySlides {
  display: none
}
.slide-img{
  vertical-align: middle;

}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding-top: 5%;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -1%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a background color w */
.prev:hover,
.next:hover {
  background-color: rgba(82, 97, 72, .75);
}
/* Caption text */
.text {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: .9em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
   
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: .75rem;
  width: .75rem;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .75
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .75
  }
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

/* img slideshow on home page ends here */












/* ================================= 
  Media Queries
==================================== */



/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 750px) {
  .main-nav {
    flex-direction: column;
  }

  .main-nav a {
    font-size: 1.15em;
    line-height: 1.1;
  }

  .page-header h2{
    font-size: 1.45em;
    letter-spacing: .10em;
    padding-left: 10%;
    padding-right: 10%;
    }

  .page-header3 h1{
      font-size: 5rem;
      }

  .page-header3 h2{
    font-size: 1.45em;
    letter-spacing: .10em;
    padding-left: 10%;
    padding-right: 10%;
    }

  }

/* Responsive layout stuff for box2 */

@media (max-width: 750px) {

  .box2{
    display: block;
    margin: 2vh auto;
    border-color: rgb(82, 97, 72);
  border-style: solid;
    border-width: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 70vw;
    height: 65vh;
    padding: 20px 30px;
    line-height: 1.4em;
    overflow-y: scroll;
  }
  
  .box2 h1{
    line-height: 1.1em;
    font-family: EB Garamond, serif;
    font-weight: 600;
    font-size: 1.75em;
    color: #743D21;
  }
  
  .box2 p{
  font-family: roboto, sans-serif ;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 1.45em;
    color: #000;
  margin-right: 5%;
  font-kerning: normal;
  
  }
  
  .box2 ul{
    font-family: roboto, sans-serif ;
      font-weight: 500;
      font-size: 1.05em;
      line-height: 1.55em;
      color: #000;
    margin-right: 10%;
    list-style-type: disc;
    list-style-position: inside;
    }
  
    .box2 img{
    max-width: 100%;
    height: auto;
    }
  }


  /* Responsive layout stuff for box3 */

@media (max-width: 750px) {

  .box3{
    display: block;
    margin: 2vh auto;
    border-color: rgb(82, 97, 72);
  border-style: solid;
    border-width: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 70vw;
    height: 65vh;
    padding: 20px 30px;
    line-height: 1.4em;
    overflow-y: scroll;
  }
  
  .box3 h1{
    line-height: 1.1em;
    font-family: EB Garamond, serif;
    font-weight: 600;
    font-size: 1.75em;
    color: #743D21;
  }
  
  .box3 p{
  font-family: roboto, sans-serif ;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 1.45em;
    color: #000;
  margin-right: 5%;
  font-kerning: normal;
  
  }
  
  .box3 ul{
    font-family: roboto, sans-serif ;
      font-weight: 500;
      font-size: 1.05em;
      line-height: 1.55em;
      color: #000;
    margin-right: 10%;
    list-style-type: disc;
    list-style-position: inside;
    }
  
    .box3 img{
    max-width: 100%;
    height: auto;
    }
  }