*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }





/* don't mess with anything below this note */

  #intro-page{
    background-image: url(images/bkgd-950px.svg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
background-size: 70%;
  }

  #enter-container {
    display: none;
    color: #ffffff;
    width: 8em;
    text-align: center;
    padding: 3% 5%;
    text-align: center;
    text-decoration: none;
    background-color: rgba(82, 97, 72, .75);
    border-radius: 0px;
    position:absolute;
    top: 42%;
    left: 41%;
      }
  
  #enter-container a{
    font-size: 1.75rem;
    font-family: eb garamond, serif;
    font-weight: 500;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    color: #FFF;
  }

/* don't mess with anything above this note */




  /* background for home back here -- body id */
  #main-background{
    background-color: rgba(82, 97, 72, .35);
    background-image:url(images/herb-pattern_wht-opac50.png);
    background-repeat: repeat;
    color:rgb(40, 40, 40);
    font-family: 'EB Garamond', serif; 
  }
  
    /* background for Specific Page, change image url and body id */
  #page-background{
    background-color: #3e4d34;
    background-image:url();
    background-repeat: repeat;
    color:rgb(40, 40, 40);
    font-family: 'EB Garamond', serif; 
  }


.page-header {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8vh;
margin-left: auto;
}

.page-header h2{
  text-align: center;
  letter-spacing: .25rem;
  font-family: 'EB Garamond', serif;
  font-size: 1.85rem;
  font-weight: 600;
  font-style: italic;
  color: #3e4d34;
  

}

/* img class for header banner title situation at the top of the page */
.header-logo{
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  min-width: 40%;
  height: auto;
  padding: 30px;
}




body {
	font-family: 'EB Garamond', serif;
	line-height: 1.2;
	margin: 0;
	min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
 	color: #34495e;
	text-decoration: none;
}



.header1 {

}

.main-nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-bottom: 15px;
	border: none;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.nav-link {
  padding: 20px 20px;
  flex: 25%;
}

.main-nav a {
	text-transform: uppercase;
	text-align: center;
  color: #3e4d34;
  font-weight: 400;
	font-size: 1.5em;
  line-height: 1.1;
}

.main-nav a:hover {
	color: #885135;
  font-weight: 600;
}

.nav-link a.active {
color: #000;
font-weight: 700;


}











/* ================================= 
  Media Queries
==================================== */



/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 750px) {
  .main-nav {
    flex-direction: column;
  }

  .main-nav a {
    font-size: 1.15em;
    line-height: 1.1;
  }

  .page-header h2{
    font-size: 1.45em;
    letter-spacing: .10em;
    padding-left: 10%;
    padding-right: 10%;
    }
}






